# This is the production docker-compose setup, complete with nginx TLS terminator
version: '3.4'
services:
    pkgserver:
        image: juliapackaging/pkgserver.jl
        user: $UID:$GID
        restart: unless-stopped
        expose:
            - 8000
        volumes:
            - ./storage:/app/storage
            - ./logs/pkgserver:/app/logs
        environment:
            JULIA_PKG_SERVER: "0.0.0.0:8000"
            JULIA_PKG_SERVER_STORAGE_SERVERS: "https://us-east.storage.juliahub.com,https://kr.storage.juliahub.com"
            JULIA_PKG_SERVER_STORAGE_ROOT: "/app/storage"
            JULIA_PKG_SERVER_LOGS_DIR: "/app/logs"
            JULIA_PKG_SERVER_FQDN: "${PKG_SERVER_FQDN}"
            JULIA_PKG_SERVER_STORAGE_SERVERS: "${STORAGE_SERVERS:-https://us-east.storage.juliahub.com,https://kr.storage.juliahub.com}"
        labels:
            com.centurylinklabs.watchtower.scope: "pkgserver.jl"
        healthcheck:
            test: curl -f --retry 5 --max-time 5 --retry-delay 10 --retry-max-time 60 "http://localhost:8000/meta" || bash -c 'kill -s 15 $$(pidof julia) && (sleep 10; kill -s 9 $$(pidof julia))'
            interval: 2m
            timeout: 10s
            retries: 3
            start_period: 5m
    
    frontend:
        image: jonasal/nginx-certbot
        restart: unless-stopped
        environment:
            CERTBOT_EMAIL: "${CERTBOT_EMAIL:-info@foobar.com}"
        ports:
            - 80:80/tcp
            - 443:443/tcp
            - 8000:8000/tcp
        depends_on:
            - pkgserver
        volumes:
            # Mount in our nginx configs
            - ./build/pkgserver.nginx.conf:/etc/nginx/user_conf.d/pkgserver-${PKG_SERVER_FQDN:-default}.conf
            - ./conf/optimized.nginx.conf:/etc/nginx/nginx.conf
            # Keep SSL certificates permanently
            - letsencrypt:/etc/letsencrypt
            # Store logs for us to peruse at our leisure
            - ./logs/nginx:/logs
            # Allow nginx to look at the storage cache and to keep an s3 cache of its own
            - ./storage/cache:/caches/pkgserver/cache
            - ./storage/static:/caches/pkgserver/static
            - ./storage/s3cache:/caches/s3
        labels:
            com.centurylinklabs.watchtower.scope: "pkgserver.jl"

    # Auto-reload docker containers when their images are updated
    watchtower:
        image: containrrr/watchtower
        restart: unless-stopped
        volumes:
            # Mount the docker socket
            - /var/run/docker.sock:/var/run/docker.sock
        command: --cleanup --scope pkgserver.jl --interval 28800
        labels:
            com.centurylinklabs.watchtower.scope: "pkgserver.jl"

volumes:
    letsencrypt:
